.MembershipImage{
  /* max-height:1000px; */
  /* opacity:.3; */
  /* position: absolute; */
  padding-top: 3%;
  /* height: 600px; */
  background-size: cover;
  width:100%;
}

.Benefits{
  margin-top: 4%;
}